@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display:400,400i,700,700i,900,900i|Roboto:100,300,400,500,700,900");

body {
  background-image: url("../images/londonbg.png");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  background-position: left center;
  font-family: "Roboto", sans-serif;
}

#s-m-t-tooltip2 {
  max-width: 300px;
  z-index: 10000;
  margin: 24px 14px 7px 12px;

  padding: 3px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background: #fafafa;
  font-family: "Montserrat", sans-serif;
  font-size: 8px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  color: #333;
}

#s-m-t-tooltip {
  max-width: 300px;
  z-index: 10000;
  margin: 24px 14px 7px 12px;

  padding: 3px 10px;
  font-family: "Playfair Display", serif;
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
  line-height: 16px;
  color: #fafafa;
  text-transform: lowercase;
}

#spoiled_wrapper {
  position: relative;
  width: 100%;
}

#banner {
  width: 900px;
  height: 550px;
  position: relative;
  margin: 0 auto;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fafafa;
}

#banner img {
  display: block;
  max-width: 280px;
  margin: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 9px;
  z-index: 9998;
}

#menubar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  padding: 15px;
  text-align: right;
  width: 100%;
}

#menubar ul li {
  display: inline-block;
  margin-right: 1.5rem;
}

#menubar ul li:last-child {
  margin-right: 0;
}

#menubar ul li .home {
  color: #e3cd82;
  display: inline-block;
  margin-right: 1.5rem;
}

#togglebar {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 100%;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 9px;
  line-height: 200%;
  cursor: pointer;
  z-index: 999;
}

#togglebar span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#shiftedmenu {
  position: fixed;
  top: 0;
  left: 58px;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  transition: 0.3s all ease;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 12px;
  z-index: 9998;
  white-space: nowrap;
}

#shiftedmenu.show {
  width: 250px;
  white-space: nowrap;
}

#shiftedmenu .content {
  box-sizing: border-box;
  padding: 25px;
}

#belowheader {
  width: 100%;
  margin: 4rem auto 0.9rem auto;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding: 25px;
  color: #fafafa;
  font-size: 14px;
  position: relative;
}

#belowheader:before {
  position: absolute;
  top: -7px;
  width: 100%;
  left: 0;
  height: 1px;
  background: #666;
  content: "";
}

#belowheader:after {
  position: absolute;
  bottom: -7px;
  width: 100%;
  left: 0;
  height: 1px;
  background: #666;
  content: "";
}

#belowheader .content {
  width: 900px;
  height: 465px;
  margin: 0 auto;
  position: relative;
}

#belowheader .content .initial {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 1px;
  text-transform: lowercase;
  position: absolute;
  left: 7rem;
  top: 3rem;
}

#belowheader .content .initial a {
  color: #e3cd82;
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#belowheader .content .firstimg {
  width: 570px;
  height: 250px;
  background-image: url("../images/antlers_bottom.png");
  background-size: 100%;
  position: absolute;
  right: 1rem;
  z-index: 5;
}

#belowheader .content .secondimg {
  width: 350px;
  height: 350px;
  background-image: url("../images/light.png");
  background-size: 100%;
  position: absolute;
  left: 4rem;
  top: 7rem;
  z-index: 4;
}

#belowheader .content .quote {
  font-family: "Playfair Display", serif;
  font-size: 15px;
  font-style: italic;
  letter-spacing: 1px;
  font-weight: 400;
  width: 450px;
  line-height: 200%;
  position: absolute;
  left: 23rem;
  top: 19rem;
  z-index: 6;
}

#belowheader .content .quote span {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-style: normal;
}

#pipeline {
  position: fixed;
  top: 0;
  left: 25px;
  width: 100px;
  height: 100%;
  z-index: 9999;
}

#pipeline .line {
  height: 100%;
  width: 1px;
  background: #444;
  margin-left: 2rem;
}

#pipeline .circle {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 3px;
  top: 45px;
  box-sizing: border-box;
  padding: 5px;
  padding-top: 4px;
  padding-left: 4px;
  overflow: hidden;
  border: 1px solid #777;
  border-radius: 100%;
  cursor: pointer;
}

#pipeline .circle .bg {
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 50px;
  position: relative;
  background-size: cover;
  background-position: center;
  transition: 0.3s all ease;
}

#pipeline .circle:hover .bg {
  background: rgba(255, 255, 255, 0.4);
}

#pipeline .circle .bg img {
  width: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pipeline .nav {
  position: absolute;
  bottom: 4rem;
  left: 47px;
}

#pipeline .nav ul {
  margin: 0;
  padding: 0;
}

#pipeline .nav ul li {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 2rem;
  color: #e3cd82;
}

#pipeline .nav ul li span {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  display: inline-block;
  margin-right: 5px;
}

#pipeline .nav ul li span sup {
  margin-left: 2px;
}

#contentarea {
  width: 100%;
  background: rgba(68, 68, 68, 0.7);
  box-sizing: border-box;
  padding: 35px;
  padding-top: 175px;
  padding-bottom: 175px;
}

#contentarea .content {
  width: 900px;
  margin: 0 auto;
  color: #fafafa;
  font-weight: 300;
  font-size: 14px;
}

.boardsection {
  width: 100%;
  position: relative;
}

.boardsection .categoryname {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  margin-bottom: 4rem;
}

.boardsection .categoryname a:link,
.boardsection .categoryname a:visited {
  color: #fafafa;
  letter-spacing: 2px;
  font-weight: 700;
  transition: 0.3s all ease;
}

.boardsection .categoryname a:hover {
  color: #999;
}

.boardsection .forumpart {
  width: 100%;
  display: flex;
  justify-content: stretch;
  color: #333;
  margin-bottom: 0.5rem;
  min-height: 179px;
}

.boardsection .forumpart .titles {
  width: 400px;
  box-sizing: border-box;
  padding: 35px;
  background: rgba(255, 255, 255, 0.8);
}

.boardsection .forumpart .titles .title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: #333;
  font-weight: 700;
  display: block;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.boardsection .forumpart .titles .descr {
  width: 90%;
  font-size: 10px;
  text-align: justify;
  line-height: 160%;
}

.boardsection .forumpart .counted {
  background: rgba(0, 0, 0, 0.4);
  width: 200px;
  box-sizing: border-box;
  padding: 35px;
  text-align: center;
  position: relative;
}

.boardsection .forumpart .counted .stats {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
}

.boardsection .forumpart .counted .stats .statfirm {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 45px;
  font-style: italic;
  display: block;
  margin-bottom: 0rem;
  position: relative;
  color: #555;
}

.boardsection .forumpart .counted .stats .statfirm i {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 9px;
  text-transform: uppercase;
  font-style: normal;
  display: block;
  color: #555;
}

.boardsection .forumpart .latest {
  width: 300px;
  box-sizing: border-box;
  padding: 35px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  font-family: "Playfair Display", serif;
  font-size: 10px;
  font-weight: 700;
  position: relative;
}

.boardsection .forumpart .latest .centered {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.boardsection .forumpart .latest .date {
  display: block;
  margin-bottom: 2rem;
  font-size: 8px;
}

.boardsection .forumpart .latest .post {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  color: #444;
  display: block;
  margin-bottom: 2rem;
}

.boardsection .forumpart .latest .posted_by {
  font-style: italic;
  font-size: 8px;
}

.boardsection .forumpart .latest .posted_by a {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 10px;
}
